body{
    background: url('../images/fon2.jpg') no-repeat center center fixed;
    background-size: cover;
}
.foto{
    text-align: center;
    width:"200px";
    height: "150px";
    border: "5px";
}
.message{
    margin: 15px;
    left: 50px;
    color: aliceblue;
}
.border{
    border: medium;
}
.td1{
    background: url('../images/images1.png');
    width:"500px";
    height: "500px";
}
.td2{
    background: url('../images/images2.png');
}
.td3{
    background: url('../images/images3.png');
}
.td4{
    background: url('../images/images4.png');
}